* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;} 

body {
  background: white;
}

h1 {
	color:black;
  font-family:"Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-style: oblique;
	font-size: 100px;
	padding:50px;
	margin:50;
  text-align:center;
}

p{color:black;
  padding: 50px;
  margin:50;
  text-align: center;

}

.logo{
  background-image:url (./lulworth.png)center;
}